[Unit]
Description=Shutdown USB port. After 5 seconds restore power.
After=network.target

[Service]
ExecStart=/home/smart/restart-sdr-usb.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
